*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

header {
    background-color: #EFA358;
    width:100%;
    height: 80px;
    color: white;
   

}

.header-container{
    margin: 0 auto;
    max-width:1000px;
    display: flex;
    justify-content: space-between;
}

.header-left{
    font-size: 28px;
    padding: 26px 0 23px 24px;
    
}

.header-right{
    line-height:80px;
}

.header-right nav ul{
  display:flex;
}

.header-right nav ul li:nth-child(even){
    padding : 0px 20px;
}

a{
    text-decoration: none;
    color:white;
}

.main{
    background-image:url(./img/fv.png);
    background-position: center center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 600px;
}

.main_container{
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 100px;
}

.main_title{
    text-align: center;
    font-weight: bold;
  color:#555555;
  font-size: 32px;
  padding: 40px 0px;
}

.main_contents{
 display:flex;
  
}

.main_image{
   width:480px;
   height:330px;
   margin-right:60px;
}

.sentence_tiile{
    font-size: 32px;
    color: #555555;
    margin-bottom: 30px;

}

.sentence_contents{
    color: #555555;
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.btn{
    background-color: #EFA358;
    padding: 15px 55px;
    border-radius: 10px;
    color: white;
    border :1px solid #EFA358;
}

footer{
    background-color: #EFA358;
    height: 100px;
    width:100%;
    color: white;
}

.footer_logo{
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px;
}

small{
    font-size: 12px;
}

.footer_contents{
    text-align: center;
    
}